#header{
    text-align: center;
    background-color: lightgray;
    font-family: cursive;
    font-size: 20px;
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: -10px;
}

a{
    text-decoration: none;
}

body {
background-color: steelblue;

}

.profile-image{
    width: 20%;
    height: 20%;
    border-radius: 50%;

}

.socialmedia-image
{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.video-frame {
    width: 33%;
    height: 25%;
}

#portfolio-video{
}
#mainMenuBar{
    background-color: white;
    padding: 8px 0px;
}

.mainMenuButton{
    background-color: whitesmoke;
    text-decoration: none;
    font-family: 'Trebuchet MS';
    padding: 10px 30px 10px 30px;
    margin: -10px 0px 0px -5px;
    border-right: 5px solid black;
    text-transform: uppercase;
}

.mainMenuButton:hover{
    background-color: lightcyan;
    transform: scale(1.1);
}